body {
    background-image: linear-gradient(to right, rgb(0, 255, 242) , white);
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 100px;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  a {
    font-family: verdana;
    font-size: 30px;
  }