html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#bouncinessInput {
    margin: 10px 0px;
}

label {
    font-size: 13px;
}

input {
    font-size: 13px;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

canvas {
    margin: 0;
    padding: 0;
    display: block;
}
